<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- define application context to scan-->
	<context:component-scan base-package="pl.feedsapp">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" /> <!-- COntroller is excluded from appContext -->
	</context:component-scan>

	<!-- Enable transactions -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Entities manager ORM functionality -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- Defining repositories - Container to proceed queries(save, delete etc.) 
		, related to Data Access Objects (DAO) -->
	<!-- For creating beans by Spring that implement Repositories interfaces -->
	<jpa:repositories base-package="pl.feedsapp.repository"
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="transactionManager" />

	<import resource="security.xml" /> <!-- adding Security config to app context -->

	<!-- Annotations for scheduling automatic operations  -->
	<task:annotation-driven/>
	
	<beans profile="dev">
		<import resource="database-dev.xml"/>
	</beans>
	<beans profile="prod">
		<import resource="database-prod.xml"/>
	</beans>


</beans>
